# --------------------
# Node & Dependencies
# --------------------
node_modules/
package-lock.json

# --------------------
# Build / Cache Files
# --------------------
dist/
build/
*.log

# --------------------
# Environment Variables
# --------------------
.env
.env.*

# --------------------
# System Files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Editor / IDE Settings
# --------------------
.vscode/
.idea/
*.swp
*.swo

# --------------------
# Temporary / Backup Files
# --------------------
*.tmp
*.bak
*.old
